{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script type="text/javascript" src="js/paper.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/alexgibson/shake.js/master/shake.js"></script>
<script type="text/javascript">
  
    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    console.log('You pressed the mouse!');
 
    //var myPath = new paper.Path();
    //myPath.strokeColor = 'black';
    // This function is called whenever the user
    // clicks the mouse in the view:
    //tool.onMouseDown = function(event) {
	    // Add a segment to the path at the position of the mouse:
      //console.log(event.point);
	    //socket.send(event.point.x + "," + event.point.y);
    //}


    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    // var socket = new WebSocket(
    //     'wss://<your url here>/ws/draw');
    var socket = new WebSocket('wss://p3-websockets-promputthisri-promputthisri499532.codeanyapp.com/ws/draw');
    
    
    // triggered when receiving a message from the server
    //socket.onmessage = function(recieveMessage) {
      //console.log(recieveMessage["data"]);
      //var data = recieveMessage["data"].split(",");
      //myPath.add(new paper.Point(data[0], data[1]));
    //}
    
    // notify console if socket closes unexpectedly
    socket.onclose = function(e) {
       console.error('Chat socket closed unexpectedly');
    };
  
    var myPath;
    tool.onMouseDown = function(event) {
     var myUrl = window.location.href;
     socket.send("0,1,2");
     socket.send(myUrl);
    }
    tool.onMouseDrag = function(event) {
     socket.send(event.point.x + "," + event.point.y);
    }
    
    var color = 0;
  var Color = 'red';
  //from qnimate.com
  var shakeEvent = new Shake({threshol: 15});
  shakeEvent.start();
  window.addEventListener('shake', function() {
  alert("clean the page!!");
  location.reload();
    //alert("tilting right change color")
    //if (color == 0) {
     // Color = 'black';
      //color++;
    //} else if (color == 1) {
     // myPath.strokeColor = 'red';
     // color++;
    //} else if (color == 2) {
     // Color = 'blue';
     // color++;
    //} else if (color == 3) {
     // Color = 'green';
     // color++;
   // } else if (color == 4) {
     // Color = 'yellow';
     // color++;
    //} else if (color == 5) {
     // Color = 'purple';
     // color = 0;
    //}
  //}, false);
  
  window.addEventListener("deviceorientation", handleOrientation, true);
  function handleOrientation(event) {
    // those angles are in degrees
    var alpha = event.alpha;  
    var beta = event.beta;
    var gamma = event.gamma;

    // JS math works in radians
    var betaR = beta / 180 * Math.PI;
    var gammaR = gamma / 180 * Math.PI;
    var spinR = Math.atan2(Math.cos(betaR) * Math.sin(gammaR), Math.sin(betaR));

    // convert back to degrees
    var spin = spinR * 180 / Math.PI;
    if (Math.sign(spin) > 10) {
      alert('Tilting right!! change color');
      if (color == 0) {
      Color = 'black';
      color++;
    } else if (color == 1) {
      myPath.strokeColor = 'red';
      color++;
    } else if (color == 2) {
      Color = 'blue';
      color++;
    } else if (color == 3) {
      Color = 'green';
      color++;
    } else if (color == 4) {
      Color = 'yellow';
      color++;
    } else if (color == 5) {
      Color = 'purple';
      color = 0;
    }
    } else if (Math.sign(spin) < -10) {
      alert("tiling left!!");
    }
}
  
  if(!("ondevicemotion" in window)) {
    alert("Not Supported");
  }
  
    var tracker;
    
    socket.onmessage = function(recieveMessage) {
      var data = recieveMessage.data.split(",");
      if (data.length == 3) {
        console.log("down");
	      myPath = new paper.Path();
      } else if (data.length == 2) {
        if (tracker == window.location.href) {
          var point = new paper.Point(data);
          myPath.add(point);
        } if (window.location.href == "https://p3-websockets-promputthisri-promputthisri499532.codeanyapp.com/draw/?size=large/") {
          console.log("hey");
          var point = new paper.Point(data);
          myPath.add(point);
        }
      } else if (data.length == 1) {
        console.log(1);
        if (data == "https://p3-websockets-promputthisri-promputthisri499532.codeanyapp.com/draw/?a/") {
          console.log("red");
          myPath.strokeColor = 'red';
        } else if (data == "https://p3-websockets-promputthisri-promputthisri499532.codeanyapp.com/draw/?b/") {
          console.log("blue");
          myPath.strokeColor = 'blue';
        } else if (data == "https://p3-websockets-promputthisri-promputthisri499532.codeanyapp.com/draw/?size=large/") {
          console.log("black");
          myPath.strokeColor = 'black';
        } else if (data == "https://p3-websockets-promputthisri-promputthisri499532.codeanyapp.com/draw/?c/") {
          console.log(Color);
          myPath.strokeColor = Color;
        } else {
          console.log('black');
          myPath.strokeColor = 'black';
        }
        tracker = data;
      } else {
        console.log("error message data 73")
      }
    }
    
  
    
</script>
</html>
